<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link href="@Assets["_content/AttendEase.Shared/css/bootstrap.min.css"]" rel="stylesheet" />
    <link href="@Assets["_content/AttendEase.Shared/css/bootstrap-icons.min.css"]" rel="stylesheet" />
    <link href="@Assets["_content/Blazor.Bootstrap/blazor.bootstrap.css"]" rel="stylesheet" />
    <link rel="stylesheet" href="@Assets["_content/AttendEase.Shared/app.css"]" />
    <link rel="stylesheet" href="AttendEase.Web.styles.css" />
    <link rel="icon" type="image/png" href="@Assets["_content/AttendEase.Shared/favicon.png"]" />
    <HeadOutlet @rendermode="new InteractiveServerRenderMode(false)" />
</head>

<body>
    <Routes @rendermode="new InteractiveServerRenderMode(false)" />
    <script src="_framework/blazor.web.js"></script>
    <script src="@Assets["_content/AttendEase.Shared/js/bootstrap.bundle.min.js"]"></script>
    <script src="@Assets["_content/AttendEase.Shared/js/chart.umd.js"]"></script>
    <script src="@Assets["_content/AttendEase.Shared/js/chartjs-plugin-datalabels.min.js"]"></script>
    <script src="@Assets["_content/AttendEase.Shared/js/Sortable.min.js"]"></script>
    <script src="@Assets["_content/Blazor.Bootstrap/blazor.bootstrap.js"]"></script>
</body>

</html>
